@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme {
	--color-dark-background: #302467;
	--color-dark-background-secondary: #334155;
	--color-dark-background-muted: #6422B5;
	--color-dark-foreground: #F1F5F9;
	--color-dark-foreground-secondary: #E2E8F0;
	--color-dark-foreground-muted: #F1F5F9;
	--color-dark-card: #8a47b2;
	--color-dark-card-foreground: #F1F5F9;
	--color-dark-border: #000000;
	--color-dark-input: #170051;
	--color-dark-ring: #fa60f8;
	--color-dark-primary: #BE33FF;
	--color-dark-primary-foreground: #F1F5F9;
	--color-dark-secondary: #BE33FF;
	--color-dark-secondary-foreground: #F1F5F9;
	--color-dark-success: #7ed321;
	--color-dark-warning: #FBBF24;
	--color-dark-error: #F87171;
	--color-dark-info: #60A5FA;
}

